.#{$ii-prefix} {
  display: inline-block;
  font-family: InkIcons;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.#{$ii-prefix}-large {
  font-size: 1.5em;
}

.#{$ii-prefix}-double {
  font-size: 2em;
}
