.#{$ii-classname}-triangle-down:before { content: $ii-triangle-down; }
.#{$ii-classname}-triangle-up:before { content: $ii-triangle-up; }
.#{$ii-classname}-triangle-left:before { content: $ii-triangle-left; }
.#{$ii-classname}-triangle-right:before { content: $ii-triangle-right; }
