@mixin icon-classes ($icons) {

  @each $icon in $icons {

    $icon-classname: nth($icon,1);
    $icon-glyph-unicode: nth($icon,2);

    .#{$icon-classname}:before {
      content: $icon-glyph-unicode;
    }

  }

}
