@mixin icon($name, $unicode) {

  .#{$name}:before {
    content: #{"\"\\"}#{$unicode + "\""};
  }

}

@mixin icon-classes ($icons) {

  @each $icon in $icons {
    $icon-classname: nth($icon,1);
    $icon-glyph-unicode: nth($icon,2);
    @include icon($icon-classname,$icon-glyph-unicode);
  }

}
