@font-face {
  font-family: 'SymbolFont';
    src: url('#{$sf-path}#{$sf-font-file}.eot?v=#{$sf-version}'); /* IE9 Compat Modes */
    src: url('#{$sf-path}#{$sf-font-file}.eot?#iefix?v=#{$sf-version}') format('embedded-opentype'), /* IE6-IE8 */
         url('#{$sf-path}#{$sf-font-file}.woff?v=#{$sf-version}') format('woff'), /* Modern Browsers */
         url('#{$sf-path}#{$sf-font-file}.otf?v=#{$sf-version}') format('opentype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
    // text-rendering: optimizeLegibility;
}
